@font-face {
    font-family: "Poppins";
    src: url(../FONTS/Poppins-Medium.ttf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
  }
  
  :root {
    --maincolor: black;
    --secondarycolor: white;
    --poppins-font: "Poppins";
  }
  
  body {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  section {
    top: 0;
    right: 0;
  }
  